@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.alice-carousel__dots-item{
    border: 1px solid black !important;
    padding: 5px;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
    background-color: #FFA500 !important;
  }
  
.alice-carousel__dots{
    display: none;
}

@media only screen and (min-width:600px) {
    .alice-carousel__dots{
        display: block;
    }
}

.scrolled {
    background-color: #fff !important;
}

body{
    font-family: 'Quicksand', sans-serif;
}



.card-zoom {
    @apply relative flex items-center justify-center overflow-hidden shadow-xl w-[100%] h-auto ;
  }
  .card-zoom-image {
    @apply  w-full  transition-all duration-500 ease-in-out transform ;
  }
  .card-zoom-text {
    @apply absolute bottom-[20%] left-2 text-3xl font-black transition-all text-gray-50 ;
  }
  .card-zoom:hover .card-zoom-image {
    @apply scale-110;
  }
  .card-zoom:hover .card-zoom-text {
    @apply scale-100;
  }
  


  /* width */
.cart-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cart-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

/* Handle */
.cart-scroll::-webkit-scrollbar-thumb {
  /* background: red; */
  @apply bg-tertiary-100 rounded-md
}

/* Handle on hover */
.cart-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}