@tailwind base;
@tailwind components;
@tailwind utilities;


.alice-carousel__dots-item{
    border: 1px solid black !important;
    padding: 5px;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
    background-color: #FFA500 !important;
  }
  
.alice-carousel__dots{
    display: none;
}

@media only screen and (min-width:600px) {
    .alice-carousel__dots{
        display: block;
    }
}


#yellow-bg {
    background-image: url(./assets/yellowBg.svg);
    /* background-position: right bottom, left top; */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 200vh;
  }

  @media only screen and (max-width:600px) {
 
    #yellow-bg {
        background-position: center; 
        /* height: 225vh; */
    }
    .position{
        /* top: 50 !important% */
        }  

}


@media only screen and (width:412px) {

.position{
top: 50%;
}    
}


@media only screen and (max-width:915px) {
 
    /* #yellow-bg {
        background-position: center; 
        height: 225vh;
    } */

.position{
top: 75%
}    
}

@media only screen and (max-width:915px) {
 
    #yellow-bg {
        background-position: center; 
        height: 100vh;
    }
/* 
.position{
top: 75%
}     */
}